@font-face {
  font-family: 'Baloo 2';
  font-weight: 400;
  src: url(~assets/fonts/Baloo2-Regular.ttf);
}

@font-face {
  font-family: 'Baloo 2';
  font-weight: 500;
  src: url(~assets/fonts/Baloo2-Medium.ttf);
}

@font-face {
  font-family: 'Baloo 2';
  font-weight: 600;
  src: url(~assets/fonts/Baloo2-SemiBold.ttf);
}

@font-face {
  font-family: 'Baloo 2';
  font-weight: 700;
  src: url(~assets/fonts/Baloo2-Bold.ttf);
}

@font-face {
  font-family: 'Baloo 2';
  font-weight: 800;
  src: url(~assets/fonts/Baloo2-ExtraBold.ttf);
}

:root {
  --color: #000;
  --white:#FFF;
  --color-neg: #FFF;
  --color-logo: #000;
  --first-color: #DC143C;
  --color-primary: #DC143C;
  --color-border: #DC143C;
  --timeline-icon:#FFF;
  --timeline-line: #DC143C;
  --bg: #E5E5E5;
  --bg-nav: #E5E5E5;
  --bg-secondary: #FFF;
  --color-shadow: rgba(0, 0, 0, 0.25);
  --color-shadow-m: #DC143C;
  --color-shadow-w: rgba(0, 0, 0, 0.5);
  --color-shadow-btn: rgba(0, 0, 0, 0.25);
  --color-shadow-img: rgba(0, 0, 0, 0.15);
}

.dark-mode {
  --color: #FFF;
  --color-neg: #000;
  --color-logo: -webkit-linear-gradient(45deg, #cc00cc, #33ccff 132%);
  --first-color:linear-gradient(45deg, #cc00cc, #33ccff);;
  --color-primary: -webkit-linear-gradient(45deg, #cc00cc, #33ccff 132%);
  --color-border:#FFF;
  --timeline-icon: -webkit-linear-gradient(45deg, #cc00cc, #33ccff 132%);
  --timeline-line: #cc00cc;
  --bg: #171717;
  --bg-nav: #000;
  --bg-secondary: #272727;
  --color-shadow: #cc00cc;
  --color-shadow-m: #cc00cc;
  --color-shadow-w:rgba(255, 255, 255, 0.5);;
  --color-shadow-btn:rgba(255, 255, 255, 0.25);;
  --color-shadow-img:rgba(255, 255, 255, 0.1);;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Baloo 2', cursive;
  background-color: var(--bg);
  transition: all .2s;
  overflow-x: hidden;
}
/*========== SCROLL BAR ==========*/
::-webkit-scrollbar{
  width: 0px;
  background-color: var(--bg);
}

::-webkit-scrollbar-thumb{
  background: var(--color-primary);
  border-radius: 5px;
}

.color-primary{
  background: var(--color-primary);
}
.text-default{
  color: var(--color);
  transition: all .2s;
}
::selection{
  color: var(--bg);
  background: var(--color);
}
.text-ndefault{
  color: var(--bg);
  transition: all .2s;
}
.text-highlight{
  background: var(--first-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .2s;
}

.text-neg{
  color: var(--color-neg);
}
.text-white{
  color: var(--white);
}
.bg-main{
  height: calc(100vh - 112.5px);
  color: var(--color);
  font-size: 60px;
}

.head {
  position: relative;
  text-align: center;
  font-weight: 600;
  color: var(--color);
  font-size: 24px;
  padding-bottom: 20px;
}

.head::before {
  content: "";
  position: absolute;
  bottom: 15.5px;
  left: 50%;
  width: 200%;
  min-width: 200px;
  max-width: 250px;
  height: 3px;
  border-radius: 1.5px;
  transform: translateX(-50%);
  transition: all .2s;
  background: var(--color-primary);
}

.head::after {
  background: var(--bg);
  position: absolute;
  bottom: 5px;
  left: 50%;
  font-size: 16px;
  white-space: nowrap;
  padding: 0 5px;
  transform: translateX(-50%);
  transition: all .2s;
}

.glass{
background: rgba(255, 255, 255, 0.05);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.1);
transition: all .2s;
}
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: var(--color);
  color: var(--color-neg);
  text-align: center;
  border-radius: 10px;
  padding: 2px 0;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -50px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--color) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* Animate ghost */
@keyframes floaty {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(15px);
  }
}

@media (min-width:640px){
  .head{
    font-size: 32px;
  }
  .head::after{
    font-size: 20px;
  }
  .head::before {
    bottom: 16.5px;
  }
}